<!-- MAIN NAVIGATION -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<nav id="mainnav-container" class="mainnav">
    <div class="mainnav__inner">

        <div class="mainnav__top-content scrollable-content pb-5">
            <div class="mainnav__categoriy py-3">
                <ul class="mainnav__menu nav flex-column">

                    <li class="nav-item" style="border-bottom: 1px solid blue;">
                        <a href="@Url.Action("Index","dashboard")" class="mininav-toggle nav-link">
                            <i class="nav-icon fa fa-chart-line"></i>
                            <span class="nav-label ms-1">Dashboard</span>
                        </a>
                    </li>
                    
                    <li class="nav-item has-sub">
                        <a href="#" class="mininav-toggle nav-link collapsed" style="border-bottom: 1px solid blue;">
                            <i class="fa-solid fa-building-circle-exclamation"></i>
                            <span class="nav-label ms-1">Adminstration</span>
                        </a>
                        <!-- Tables submenu list -->
                        <ul class="mininav-content nav collapse">
                            <li class="nav-item" style="border-bottom: 1px solid blue;">
                                <a href="@Url.Action("Index", "User")" class="nav-link mininav-toggle">
                                    <i class="fa-solid fa-user"></i>
                                    <span class="nav-label mininav-content ms-1">Users</span>
                                </a>
                            </li>
                            <li class="nav-item" style="border-bottom: 1px solid blue;">
                                <a href="@Url.Action("Index", "User")" class="nav-link mininav-toggle">
                                    <i class="fa-solid fa-ban"></i>
                                    <span class="nav-label mininav-content ms-1">Roles</span>
                                </a>
                            </li>
                            <li class="nav-item" style="border-bottom: 1px solid blue;">
                                <a href="@Url.Action("Index", "User")" class="nav-link mininav-toggle">
                                    <i class="fa-solid fa-key"></i>
                                    <span class="nav-label mininav-content ms-1">User Roles</span>
                                </a>
                            </li>
                        </ul>
                        <!-- END : Tables submenu list -->
                    </li>

                    <li class="nav-item has-sub">
                        <a href="#" class="mininav-toggle nav-link collapsed" style="border-bottom: 1px solid blue;">
                            <i class="fa-solid fa-burger"></i>
                            <span class="nav-label ms-1">Food Ordering</span>
                        </a>
                        <!-- Tables submenu list -->
                        <ul class="mininav-content nav collapse">
                            <li class="nav-item" style="border-bottom: 1px solid blue;">
                                <a href="@Url.Action("Index", "FoodOrder")" class="nav-link mininav-toggle">
                                    <i class="fa-regular fa-rectangle-list"></i>
                                    <span class="nav-label mininav-content ms-1">All Orders</span>
                                </a>
                            </li>
                            <li class="nav-item" style="border-bottom: 1px solid blue;">
                                <a href="@Url.Action("Create", "FoodOrder")" class="nav-link mininav-toggle">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    <span class="nav-label mininav-content ms-1">New Order</span>
                                </a>
                            </li>
                        </ul>
                        <!-- END : Tables submenu list -->
                    </li>

                    <li class="nav-item has-sub">
                        <a href="#" class="mininav-toggle nav-link collapsed" style="border-bottom: 1px solid blue;">
                            <i class="fa fa-cogs fa-fw"></i>
                            <span class="nav-label ms-1">Settings</span>
                        </a>
                        <!-- Tables submenu list -->
                        <ul class="mininav-content nav collapse">
                            <li class="nav-item" style="border-bottom: 1px solid blue;">
                                <a href="@Url.Action("Index", "User")" class="nav-link mininav-toggle">
                                    <i class="fa-solid fa-boxes-stacked"></i>
                                    <span class="nav-label mininav-content ms-1">Products</span>
                                </a>
                            </li>
                            <li class="nav-item" style="border-bottom: 1px solid blue;">
                                <a href="@Url.Action("Index", "User")" class="nav-link mininav-toggle">
                                    <i class="fa-solid fa-sliders"></i>
                                    <span class="nav-label mininav-content ms-1">Categories</span>
                                </a>
                            </li>
                            <li class="nav-item" style="border-bottom: 1px solid blue;">
                                <a href="@Url.Action("Index", "User")" class="nav-link mininav-toggle">
                                    <i class="fa-solid fa-inbox"></i>
                                    <span class="nav-label mininav-content ms-1">Dining Tables</span>
                                </a>
                            </li>
                        </ul>
                        <!-- END : Tables submenu list -->
                    </li>

                </ul>
            </div>
        </div>

    </div>
</nav>

@*<style>

</script>*@

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- END - MAIN NAVIGATION -->