@model List<Fiverr_Sample.FoodOrdering.Models.FoodOrder>
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/Nifty/_Layout.cshtml";
}

<br />

<link rel="stylesheet" href="~/css/styles.css" type="text/css" />

<div id="placeHolder"></div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h3 class="card-title">
                    Manage Your @ViewData["Title"]
                </h3>
            </div>

            <div class="col-md-6" style="float: right;">
                <div class="card-tools">
                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-block btn-primary" href="@Url.Action("Create")" align="right" style="width:150px;"><i class="fa-solid fa-square-plus"></i> Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
    </div>


    <div class="card-body">
        <table class="table" id="tblUsers">
            <thead class="thead-dark">
                <tr>
                    <th>Order Id</th>
                    <th>Line Item Id</th>
                    <th>Total Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var foodOrder in Model)
                {
                    <tr>
                        <td>@foodOrder.Id</td>
                        <td>@foodOrder.FoodOrderLineItem.Id</td>
                        <td>@foodOrder.TotalPrice</td>
                        <td>
                            <a class="btn btn-info" href="@Url.Action("Update", new {Id = foodOrder.Id})"><i class="fa-solid fa-pen fa-fw"></i></a>
                            <a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?')" href="@Url.Action("Delete", new {Id = foodOrder.Id})"><i class="fa-solid fa-trash-can fa-fw"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>

<style>
    div.container {
        max-width: 1200px
    }

    .dx-button {
        height: 20px;
    }

    /*.fa {
                height: 20px;
                margin-top: -5px;
            }*/

    .fa-edit {
        height: 20px;
        width: 5px;
        margin-top: -7px;
    }
</style>


@section scripts{

    <script>
        $(document).ready(function () {
            $('#tblUsers').DataTable({
                "ordering": false,
                "scrollX": true,
                "lengthChange": true,
                "autoWidth": false,
                //"buttons": ["excel", "pdf"],
            });//.buttons().container().appendTo('#userTbl_wrapper .col-md-6:eq(0)');
            //$('.dataTables_length').addClass('bs-select');
        })


    </script>

}

