@model List<RestaurantManagement.Authentication.Models.ApplicationUser>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/Nifty/_Layout.cshtml";
}

<br />

<link rel="stylesheet" href="~/css/styles.css" type="text/css" />

<div id="placeHolder"></div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h3 class="card-title">
                    Manage Your @ViewData["Title"]
                </h3>
            </div>

            <div class="col-md-6" style="float: right;">
                <div class="card-tools">
                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-block btn-primary" href="@Url.Action("Create")" align="right" style="width:150px;"><i class="fa fa-user-plus" aria-hidden="true"></i> User</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
    </div>


    <div class="card-body">
        <table class="table" id="tblUsers">
            <thead class="thead-dark">
                <tr>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>NIC</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.MiddleName</td>
                        <td>@user.LastName</td>
                        <td>@user.NIC</td>
                        <td><a class="btn btn-info" href="@Url.Action("Update", new {Id = user.Id})"><i class="fa-solid fa-pen fa-fw"></i></a>
                            <a class="btn btn-danger" href="@Url.Action("Delete", new {Id = user.Id})"><i class="fa-solid fa-trash-can fa-fw"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>

<style>
    div.container {
        max-width: 1200px
    }

    .dx-button {
        height: 20px;
    }

    /*.fa {
            height: 20px;
            margin-top: -5px;
        }*/

    .fa-edit {
        height: 20px;
        width: 5px;
        margin-top: -7px;
    }
</style>


@section scripts{
    <script src="~/js/user.js"></script>
    <script src="~/js/user-management.js"></script>

    <script>
        $(document).ready(function () {
            $('#tblUsers').DataTable({
                "ordering": false,
                "scrollX": true,
                "lengthChange": true,
                "autoWidth": false,
                //"buttons": ["excel", "pdf"],
            });//.buttons().container().appendTo('#userTbl_wrapper .col-md-6:eq(0)');
            //$('.dataTables_length').addClass('bs-select');
        })
        // $(document).ready(function () {
        //     var canUpdate = $('#inputCanUpdate').val();
        //     var canDownload = $('#inputCanFileDownload').val();

        //     let grid = null;

        //     bindGrid();

        //     function bindGrid() {
        //         grid = $('#gridContainer').dxDataGrid({
        //             dataSource: "user/All",
        //             onContentReady: function () {
        //                 $(".dx-header-row").addClass("grid-header");
        //             },
        //             allowColumnReordering: true,
        //             allowColumnResizing: true,
        //             columnAutoWidth: true,
        //             //headerFilter: { visible: true },
        //             sorting: {
        //                 mode: "multiple"
        //             },
        //             columns: [
        //                 {
        //                     dataField: "firstName",
        //                     //allowFiltering: false,
        //                 },
        //                 {
        //                     dataField: "lastName",
        //                     //allowFiltering: false,
        //                 },
        //                 {
        //                     dataField: "email",
        //                     allowFiltering: true,
        //                 },
        //                 {
        //                     caption: "Actions",
        //                     allowSorting: false,
        //                     allowFiltering: false,
        //                     cellTemplate: function (container, options) {
        //                         if (options.value == null && canUpdate) {
        //                             $("<div class='ml-2'/>").dxButton({
        //                                 icon: "fa fa-edit fa-2xs",
        //                                 type: "normal",
        //                                 hint: "Edit",
        //                                 elementAttr: {
        //                                     class: "btn btn-2xs"
        //                                 },
        //                                 text: "",
        //                                 onClick: function (e) {
        //                                     window.location = "@Url.Action("updateuserpage", "user")/" + options.data.id
        //                                 }
        //                             }).appendTo(container);
        //                         }

        //                     }
        //                 }



        //             ],
        //             //onRowPrepared: function (info) {
        //             //    console.log(info);
        //             //},
        //             selection: {
        //                 mode: "multiple",
        //                 showCheckBoxesMode: "always" // selecting row only by clicking on the select checkbox
        //             },
        //             "export": {
        //                 enabled: true,
        //                 fileName: "Users",
        //                 allowExportSelectedData: true
        //             },
        //             paging: {
        //                 pageSize: 10
        //             },
        //             pager: {
        //                 showPageSizeSelector: true,
        //                 allowedPageSizes: [10, 20, 50],
        //                 showInfo: true
        //             },
        //             groupPanel: {
        //                 visible: true
        //             },
        //             searchPanel: {
        //                 visible: false
        //             },
        //             filterRow: {
        //                 visible: true
        //             },
        //             showBorders: true,
        //             showRowLines: true,
        //             wordWrapEnabled: true,
        //             onCellPrepared: function (e) {
        //                 if (e.rowType == "header") {
        //                     e.cellElement.addClass("bg-dark text-white");
        //                 }
        //             },
        //         }).dxDataGrid("instance");
        //     }

        // });


    </script>

}

